
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">
    *
    {
      color: #fafafa;
      background: #111827;
      font-family: gilroy;
      text-align: center;
      vertical-align: auto;
      background-image: url("Rectangle.png");
    }
    div{
      border: #fafafa solid 3px;
    }
    </style>
    <meta charset="utf-8">
    <title></title>
    
  </head>
  <body>
    <div>
    <h2>Your entered sentence: {{words}}</h2>
    <h2>Number of words in your sentence: {{l}}</h2>
  </div>
  </body>
</html>