
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">
    *
    {
      color: #4c717a;
      background: #111497;
      font-family: Arial, sans-serif;
      text-align: center;
      vertical-align: auto;
      background-image: url("Rectangle.png");
    }
    div{
      border: #fafafa solid 2.9px;
    }
    </style>
    <meta charset="utf-8">
    <title></title>
    
  </head>
  <body>
    <div>
    <h2>The sentence you entered : {{words}}</h2>
    <h2>The number of words in your sentence: {{l}}</h2>
  </div>
  </body>
</html>
